@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    font-size: clamp(14px, 1vw, 18px);
    font-family: 'Inter', sans-serif;
  }

  